@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto.ttf");
}

html {
	background-color: #bd5;
	font-family: "Roboto";
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
canvas {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
}

.btn {
	float: left;
	cursor: pointer;
}

.ctrl {
	position: absolute;
	bottom: 2vw;
	right: 2vw;
}

.sound {
	z-index: 10;
	position: absolute;
	height: 4vw;
	width: 7vw;
	margin: 2vw;
	right: 0;
	cursor: pointer;
	text-align: center;
	font-size: 1.5vw;
}

img {
	z-index: -3;
	height: 3vw;
}

.ctrl-panel {
	width: 75vw;
	position: absolute;
	bottom: 2vh;
	left: 0; right: 0;
	margin: auto;
}

.work-ctrl {
	text-align: center;
	font-size: 2.75vw;
	width: 50vw;
	left: 0; right: 0;
	margin: auto;
}

.arrow {
	line-height: 2vw;
	font-size: 4vw;
	height: 3vw;
	width: 3vw;
	cursor: pointer;
}
