html {
	background-color: #fcfcfc;
}
canvas {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
}

.display {
	position: absolute;
	top: 5vh; left: 5vw;
	font-size: 200%;
	font-family: Arial, Helvetica, sans-serif;
}

.btn {
	position: absolute;
	top: 10vh; left: 20vw;
}

.ctrl-panel {
	width: 75vw;
	position: absolute;
	bottom: 2vh;
	left: 0; right: 0;
	margin: auto;
}

.work-ctrl {
	text-align: center;
	font-size: 300%;
	float: right;
}


.rest-ctrl {
	text-align: center;
	font-size: 300%;
	float: left;
}

.arrow {
	height: 3vw;
	width: 3vw;
	cursor: pointer;
}