html {
	background-color: #fcfcfc;
}
canvas {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
}

.display {
	position: absolute;
	top: 5vh; left: 5vw;
	font-size: 200%;
	font-family: Arial, Helvetica, sans-serif;
}